body {
    border: blue;
    margin: 15px;
    padding:top 77px;
    background-color: lightblue
    
}
nav ul {
    
    list-style-type:none;
    margin: 0 ;
    padding: 0 ;
    
   
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
main{
   clear: left;
   padding: 25px;
}


footer {
    text-align: center;
}
a:link{
    color: rgb(148, 187, 58);
background-color: rgb(255, 127, 127)
}
a:visited{
    color: rgb(234, 243, 236);
background-color:rgb(173, 68, 77)

}
a:hover{
    color: rgb(41, 206, 206);
background-color: rgb(255, 127, 187)

}
a:active{
    color: rgb(58, 187, 75);
background-color: aquamarine

}